body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
img {
  max-width: 100%;
}
/* apresentação */
.page-content {
  padding-top: 160px;
}

.btn-post {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #264f6e;
  text-align: center;
  display: block;
  width: 170px;
  padding: 10px 0;
  border: 3.8px solid #264f6e;
  border-radius: 10px;
  margin-top: 20px;
  transition: all .3s ease;
}
.btn-post:hover {
  color: #fff;
  background-color: #264f6e;
}
.post-date-title {
  color: #264f6e;
  font-weight: 300;

}
.post-title-home {
  font-size: 55px;
  font-weight: bold;
  color: #e91f42;
  text-transform: uppercase;
  text-align: left;
  line-height: 60px;
  padding-bottom: 10px;
  transition: all .3s ease;
}
.post-sub-title-home {
  font-size: 20px;
  font-weight: 300;
  color: #264f6e;
  text-align: left;
  line-height: 30px;
}
.post-list li {
  display: inline-block;
  padding-bottom: 40px;
}
