/**************** CONTATO ***************/
.portfolio {
  margin-bottom: 60px;
}
.contato {
  margin-top: 60px;
}
.contato label {
  font-family: 'Montserrat', sans-serif;
  fonts-size: 18px;
  text-transform: uppercase;
  color: #264f6e;
  display: block;
  margin-bottom: 5px;
}
.contato input, textarea {
  width: 100%;
  border: 2px solid #264f6e;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #264f6e;
}
.contato input {
  height: 40px;
  margin-bottom: 30px;
  padding: 0 10px;
}
.contato textarea {
  height: 163px;
  padding: 10px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.contato input:focus, .contato textarea:focus {
  background-color: #264f6e;
  color: #fff;
}
.form-message {
  float: right;
}
.btn-submit {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  display: block;
  width: 160px;
  padding: 10px 0;
  background-color: #264f6e;
  border: 3.8px solid #264f6e;
  border-radius: 10px;
  transition: all .3s ease;
  margin-top: 20px;
  cursor: pointer;
}
.btn-submit:hover {
  color: #264f6e;
  background: none;
}
